/* this is shared css among the css of this folder... */

@import url('../style.css');

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    max-width: 444px;
    border-radius: 5px;
    padding: 32px 20px;
    box-shadow: var(--box-shadow);
    margin: 0 20px;
}

.container h3 {
    margin-bottom: 20px;
    color: var(--accent-color);
}

.container form {
    margin-top: 20px;
}

.error {
    margin-top: 10px;
    color: var(--error-color);
}