<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../../static/css/aboutUs.css">
</head>
<body>
    <div class="nav-bar-container">
        <nav>
            <a href="{% url 'landingPage' %}">
                <img src="/static/images/logo.svg" width="60" alt="Scholaract logo" class="logo">
            </a>
            <ul class="nav-links">
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <a href="{% url 'login' %}">
                <button class="btn login-btn" id="login-btn">Login</button>
            </a>
        </nav>
    </div>

    <section class="hero">
        <div class="hero-description">
            <p class="title">About us</p>
            <p class="hero-para">
                Scholaract facilitates communication and engagement between teachers and students. We offer a user-friendly interface that allows for easy access to relevant information, making it easier for educators and learners to connect with one another.       
            </p>

            <div class="btn_container">
                <a href="{% url 'signup' %}">
                    <button class="btn get-started-btn">Get Started</button>
                </a>
            </div>
        </div>

        <div class="hero-img-container">
            <img src="/static/images/aboutUs_hero_image.png" alt="" class="aboutUs-page-img">
        </div>
    </section>

    <section class="features-container">
        <div class="feature-card">
            <div class="feature-card-img"><img src="/static/images/about_us_classes.png" alt=""></div>
            <p>Classes</p>
        </div>
        
        <div class="feature-card">
            <img src="/static/images/about_us_chat.png" alt="">
            <p>Feedback</p>
        </div>
        
        <div class="feature-card">
            <img src="/static/images/about_us_assignment.png" alt="">
            <p>Assignment</p>
        </div>

        <div class="feature-card">
            <img src="/static/images/about_us_report.png" alt="">
            <p>Reports</p>
        </div>   
    </section>

    <section class="reviews-section">
        <p class="title">What our users say about us</p>
        <div class="reviews-container">
            <div class="review">
                <p class="review-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum sit velit harum reprehenderit quam quibusdam eveniet quaerat dolorem aliquid? Accusantium tempora officiis sapiente aperiam quidem, natus ratione impedit corrupti velit nesciunt necessitatibus tenetur voluptate in. Optio, inventore? Beatae eaque labore soluta corporis sit quam!</p>
                <p class="review-name">-first_name</p>
            </div>

            <div class="review">
                <p class="review-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum sit velit harum reprehenderit quam quibusdam eveniet quaerat dolorem aliquid? Accusantium tempora officiis sapiente aperiam quidem, natus ratione impedit corrupti velit nesciunt necessitatibus tenetur voluptate in. Optio, inventore? Beatae eaque labore soluta corporis sit quam!</p>
                <p class="review-name">-first_name</p>
            </div>
    
            <div class="review">
                <p class="review-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum sit velit harum reprehenderit quam quibusdam eveniet quaerat dolorem aliquid? Accusantium tempora officiis sapiente aperiam quidem, natus ratione impedit corrupti velit nesciunt necessitatibus tenetur voluptate in. Optio, inventore? Beatae eaque labore soluta corporis sit quam!</p>
                <p class="review-name">-first_name</p>
            </div>    
        </div>
    </section>

    <section class="team-section">
        <p class="title">Meet our team</p>
        <div class="team-container">
            <div class="team-image">
                <!-- <img src="/static/images/aboutUs_image_team.png" alt=""> -->
            </div>

            <div class="team-developer">
                <p class="team-member-name-1">Kanak Shakya</p>
                <div class="member-img member-1"></div>
                
                <p class="team-member-name-2">Shrijan Lakhey</p>
                <div class="member-img member-2"></div>
            </div>
        </div>
    </section>

    <footer>
        <hr>
        <div class="links">
            <div class="short_description">
            <img src="/static/images/logo.svg" width="60" alt="Scholaract Logo" />
            <p>
                Scholaract is the web-based learning management system. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, error.
            </p>
            </div>
            <div class="useful_links">
            <p class="sub_heading">Useful Links</p>
            <ul>
                <li><a href="{% url 'landingPage' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            </div>
            <div class="contact_links">
            <p class="sub_heading">Contact</p>
            <ul>
                <li>
                    <p><i class="fas fa-home"></i>  Lalipur, Nepal</p>
                </li>
                <li>
                    <p><i class="fas fa-envelope"></i>  info@example.com</p>
                </li>
                <li>
                    <p><i class="fas fa-phone-alt"></i>  +997 9800000000</p>
                </li>
                <li>
                    <p><i class="fas fa-phone-alt"></i>  +997 9800000011</p>
                </li>
            </ul>
            </div>
            <!-- <div class="category">
            <p class="sub_heading">Category</p>
            <ul>
                <li><a href="#">Business</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Fiction</a></li>
                <li><a href="#">Romance & erotic</a></li>
                <li><a href="#">Toys & games</a></li>
            </ul>
            </div> -->
            <div class="social_media">
            <ul>
                <li>
                <a href="#" class="social-media-icon"><i class="fab fa-github"></i></a>
                </li>
                <li>
                <a href="#" class="social-media-icon"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                <a href="#" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                <a href="#" class="social-media-icon"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            </div>
        </div>
        <div class="copyright_sec">Copyright © 2023 Scholaract. All rights reserved.</div>
    </footer>
</body>
</html>