<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="../../static/css/classes.css">

    <!-- link to classes.js file -->
    <script src="../../static/script/classes.js" defer></script>

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <section class="nav-bar-container">
        <nav>
            <img src="/static/images/logo.svg" width="60" alt="Scholaract logo" class="logo">
            <div class="nav-links">
                <a href="#">+</a>
                <div class="profile-img"></div>
                <i class="fas fa-caret-down drop-btn"></i>
                <div class="drop-down">
                    <a href="#">Profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </nav>
    </section>
    <section class="classes">
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
    </section>
</body>
</html>