<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static '/css/classes.css' %}">

    <!-- link to classes.js file -->
    <script src="{% static '/script/classes.js' %}" defer></script>

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <section class="modal-container">
        <div class="modal">
            <div class="modal-nav">
                <i class="fas fa-times close-modal"></i>
            </div>
            {% if role == "Teacher" %}
                <form action="" id="create-class-form" class="modal-form" method="POST">
                    {% csrf_token %}
                    <div class="class-name-container">
                        <label for="classname">Classname</label><br>
                        <input type="text" name="classname" id="classname">
                    </div>
                    <div class="subject-name-container">
                        <label for="subject">Subject</label><br>
                        <input type="text" name="subject" id="subject">
                    </div>
                    <input type="submit" value="Create" class="btn create-class-btn">
                </form>
            {% elif role == "Student" %}
                <form action="" id="join-class-form" class="modal-form" method="POST">
                    {% csrf_token %}
                    <div class="class-name-container">
                        <label for="class_code">Class Code</label><br>
                        <input type="text" name="class_code" id="class_code">
                    </div>
                    <input type="submit" value="Join" class="btn join-class-btn">
                </form>
            {% endif %}
        </div>
    </section>
    <section class="nav-bar-container">
        <nav>
            <a href="{% url 'landingPage' %}">
                <img src="/static/images/logo.svg" width="60" alt="Scholaract logo" class="logo">
            </a>
            <div class="nav-links">
                <button class="btn create-join-btn">+</button>
                <div class="profile-img"></div>
                <i class="fas fa-caret-down drop-btn"></i>
                <div class="drop-down">
                    <a href="#">Profile</a>
                    <a href="{%url 'logout'%}">Logout</a>
                </div>
            </div>
        </nav>
    </section>
    <!-- <section class="classes">
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
        <div class="class-card">
            <div class="class-bg-img"></div>
            <div class="class-info">
                <h3>Classname: <span>Maths</span></h3>
                <p>Teacher: <span>Harry</span></p>
            </div>
        </div>
    </section> -->
    <section class="classes" data-classes="{{classes_json}}"> <!-- double curly braces represents dynamic content using django template feature || context variables are accessed with the double curly braces in our case: 'claesses_json'-->
    </section>
    <template class="class-template">
        <a href="" class="class-card-link">
            <div class="class-card">    
                <div class="class-bg-img"></div>
                <div class="class-info">
                    <h3>Classname: <span class="class-name"></span></h3>
                    <p>Teacher: <span class="teacher-name"></span></p>
                </div>
            </div>
        </a>
    </template>
    <h1>welcome {{name}}</h1>
    <h1>{{error_message}}</h1>
</body>
</html>