<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholaract Landing Page</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/landingPage.css' %}">
    <script src="../../static/script/hamburger.js" defer></script>
</head>
<body>
    <!-- Nav section template here... -->
    {% include 'scholaractapp/includes/navbar101.html' %}
    
    <section class="hero">
        <div class="hero-description">
            <cite>"Transform the way you learn!"</cite>
            <p class="hero-para">
                Welcome to our Learning Management System! We believe that everyone has the potential to learn, grow, and achieve greatness. That's why we've created a platform that makes learning easy, fun, and accessible to all.
            </p>
            <div class="btn-container">
                <a href="{% url 'signup' %}">
                    <button class="btn get-started-btn">
                        Get started 
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="hero-img-container">
            <img src="../../static/images/hero_pg_img.jpg" alt="vector image reading and writing" class="landing-page-img">
        </div>
    </section>
    <section class="people-img-container">
        <div class="p-img-container"> <!--this will have position relative and its child will have position of absolute with bottom 0-->
            <img src="../../static/images/People1.png" alt="lady 1">
        </div>
        <div class="p-img-container">
            <img src="../../static/images/People2.png" alt="lady 2">
        </div>
        <div class="p-img-container">
            <img src="../../static/images/People3.png" alt="lady 3">
        </div>
    </section>
    <section class="new-class-section create-new">
        <div class="main-body-text">
            <p class="title">Create a new class</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sit itaque iste, explicabo similique tempora ratione molestiae sunt illo ut ducimus doloremque pariatur. Blanditiis?</p>
            <div>
                <a href="{% url 'login' %}">
                    <button class="btn create-class-btn">Create class</button>
                </a>
            </div>    
        </div>
        <div class="img-container">
            <img src="../../static/images/landingPage img 2.jpg" alt="vector image studying" class="landing-page-img">
        </div>
    </section>
    <section class="new-class-section join-new">
        <div class="main-body-text">
            <p class="title">Join a class</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sed voluptatibus suscipit pariatur omnis numquam dolore, repellat maiores porro animi, magnam optio culpa. Dolorem?</p>
            <div>
                <a href="{% url 'login' %}">
                    <button class="btn join-class-btn">Join class</button>
                </a>
            </div>
        </div>
        <div class="img-container">
            <img src="../../static/images/join-class-landingPage-img.jpg" alt="vector image with books and magnifying glass" class="landing-page-img">
        </div>
    </section>
    <section class="generate-a-report-section">
        <p class="title">Generate a report</p>
        <p class="description"><i>Just feed in the marks it will generate the report for you</i></p>
    </section>
    
    <!-- footer section template here... -->
    {% include 'scholaractapp/includes/footer.html' %}
</body>
</html>