<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <!-- linking stylesheet to the html -->
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <!-- link to user_validation script -->
    <!-- <script src="{% static '/script/validate_login.js' %}" defer></script> -->
    <script src="/static/script/validate_login.js" defer></script>
</head>
<body>
    <div class="nav-bar-container">
        <nav>
            <img src="{% static '/images/logo.svg' %}" alt="" class="logo">
            <form action="{% url 'signup' %}" method="get" class="sign-up-option">
                <label for="sign-up-btn">Don't have an account?</label>
                <input type="submit" class="btn sign-up-btn" value="Sign up">
            </form>
        </nav>
    </div>
    <main>
        <div class="background-image"></div>
        <div class="form-section">
            <h2>Main message</h2>
            <p>Create an account</p>
            <form action="" id="form">
                <div class="email-container">
                    <label for="email">Email </label><br>
                    <input type="email" name="email" id="email">
                    <div class="error"></div>
                </div>
                <div class="password-container">
                    <label for="password">Password </label><br>
                    <input type="password" name="password" id="password">
                    <div class="error"></div>
                </div>
                
                <input type="submit" id="login-btn" class="btn login-btn" value="Login">
            </form>
            
        </div>
    </main>
</body>
</html>