<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <!-- linking stylesheet to the html -->
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <!-- fontawesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- link to user_validation script -->
    <!-- <script src="{% static '/script/validate_login.js' %}" defer></script> -->
    <script src="/static/script/validate_login.js" defer></script>
</head>
<body>
    <dialog class="modal">
        <h3>Forgot password</h3>
        <p>Enter your email and we'll send you a link to reset your password.</p>
        <form action="">
            <input type="email" name="" id="" placeholder="someone@example.com">
            <div class="error" style="display: none;"></div>
            <input type="submit" class="btn submit-btn" value="Submit">
        </form>
        <button class="btn back-to-login-btn">
            <i class="fas fa-chevron-left"></i>
            Back to login
        </button>
    </dialog>
    <div class="nav-bar-container">
        <nav>
            <a href="{% url 'landingPage' %}">
                <img src="{% static '/images/logo.svg' %}" alt="" class="logo">
            </a>
            <form action="{% url 'signup' %}" method="get" class="sign-up-option">
                {% csrf_token %}
                <label for="sign-up-btn">Don't have an account?</label>
                <button class="btn sign-up-btn" id="sign-up-btn">Sign up</button>
            </form>
        </nav>
    </div>
    <main>
        <div class="background-image"></div>
        <div class="form-section">
            <h2>Main message</h2>
            <p>Create an account</p>
            <form action="" id="form" method = "POST">
                {% csrf_token %}
                <div class="email-container">
                    <label for="email">Email </label><br>
                    <input type="email" name="email" id="email">
                    <div class="error">{{ error_email }}</div>
                </div>
                <div class="password-container">
                    <label for="password">Password </label><br>
                    <input type="password" name="password" id="password">
                    <div class="error">{{ error_password }} {{error_role}}</div>
                </div>
                
                <div class="btn-and-forgot-password-container">
                    <input type="submit" id="login-btn" class="btn login-btn" value="Login">
                    <button class="forgot-btn" onclick="event.preventDefault();">Forgot Password?</button>
                </div>
            </form>
            
        </div>
    </main>
    <script type="module">
        import toggleModal from '../static/script/modules/modal.js'

        const modal = [...document.querySelectorAll('.modal')];
        const openBtn = [...document.querySelectorAll('.forgot-btn')];
        const closeBtn = [...document.querySelectorAll('.back-to-login-btn')];
        console.log(modal)
        console.log('hi')
        toggleModal(modal, openBtn, closeBtn, true);
    </script>
</body>
</html>