<!-- popup for UX -->
<!-- only for files added msg-->
<!-- remember to add script file to enable this popup -->

<style>
    .popup {
        background: linear-gradient(to left, var(--accent-color), var(--primary-color));
        width: max-content;
        box-shadow: var(--ternary-color) 0px 8px 24px;
        padding: 10px 20px;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%) scale(0.4);
        z-index: 111;
        opacity: 0;
        border-radius: 50px;
        transition: all 200ms ease-out;
    }

    .popup.show {
        top: 40px;
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
</style>

<div class="popup">
    <span class="msg"></span>
</div>