<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h3>Forgot password</h3>
        <p>Enter your email and we'll send you a link to reset your password.</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="someone@example.com">
            <div class="error" style="display: none;"></div>
            <input type="submit" class="btn submit-btn" value="Submit">
        </form>
        <button class="btn back-to-login-btn">
            <i class="fas fa-chevron-left"></i>
            Back to login
        </button>
        {{error_email}}
        {{ code_already_sent }}
</body>
</html>