<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    
    <!-- linking stylesheet to the html -->
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link rel="stylesheet" href="../../static/css/user_validate.css">

    <!-- link to user_validation script -->
    <script src="../../static/script/validate_signup.js" defer></script>
  </head>
  <body>
    <div class="nav-bar-container">
      <nav>
        <img src="../../assets/logo.svg" alt="" class="logo" />
        <form action="" method="post" class="sign-in-option">
          <label for="sign-in-btn">Already a user?</label>
          <input type="submit" class="btn sign-in-btn" id="sign-in-btn" value="Sign in" />
        </form>
      </nav>
    </div>

    <main>
      <div class="background-image"></div>
      <div class="form-section">
        <h2>Explore Scholaract</h2>
        <p>Create an account</p>

        <form action="" id="form" >
          <div class="name-container">
            <div class="firstName">
              <label for="fname">First Name </label><br />
              <input type="text" name="fname" id="fname" />
              <div class="error"></div>
            </div>
            <div class="lastName">
              <label for="lname">Last Name </label><br />
              <input type="text" name="lname" id="lname" />
              <div class="error"></div>
            </div>
          </div>
          <div class="email-container">
            <label for="email">Email </label><br />
            <input type="email" name="email" id="email" />
            <div class="error"></div>
          </div>
          <div class="password-container">
            <label for="password">Password </label> <br />
              <input type="password" name="password" id="password" />
              <div class="error"></div>
          </div>
          <div class="c-password-container">
            <label for="confirm_password">Confirm Password </label><br />
            <input type="password" name="c_password" id="c_password"/>
            <div class="error"></div>
          </div>
          <input type="submit" id="login-btn" class="btn" value="Create"/>
        </form>
      </div>
    </main>
  </body>
</html>