<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    
    <!-- linking stylesheet to the html -->
    <link rel="stylesheet" href="{% static '/css/signup.css' %}" />
    <!-- <link rel="stylesheet" href="{% static '/css/validate_signup.css' %}"> -->
    
    <!-- <link rel="stylesheet" href="/static/css/signup.css"> -->
    <!-- link to user_validation script -->
    <!-- <script src="/static/script/validate_signup.js"></script> -->
    <script src="{% static '/script/validate_signup.js' %}" defer></script>
    <script src="../../static/script/popUp.js" defer></script>

  </head>
  <body>
    <div class="popup">
      <span class="msg"></span>
      <span class="info"></span>
    </div>
    <div class="nav-bar-container">
      <nav>
        <a href="{% url 'landingPage' %}">
          <img src="{% static '/images/logo.svg' %}" alt="" class="logo" />
        </a>
        <!-- <img src="/static/images/logo.svg" alt="" class="logo"> -->
        <form action="{% url 'login' %}" method="" class="sign-in-option">
          {% csrf_token%}
          <label for="sign-in-btn">Already a user?</label>
          <button class="btn sign-in-btn" id="sign-in-btn">Login</button>
        </form>
      </nav>
    </div>
    

    <main>
      <div class="background-image">
      </div>
      <div class="form-section">
        <h2>Create an account</h2>

        <form action="" id="form" method="POST" >
          {% csrf_token %}
          <!-- <p class="submission-status">{{ success }}</p>  -->
          <div class="name-container">
            <div class="firstName">
              <label for="fname">First Name </label><br />
              <input type="text" name="fname" id="fname" />
              <div class="error"></div>
            </div>
            <div class="lastName">
              <label for="lname">Last Name </label><br />
              <input type="text" name="lname" id="lname" />
              <div class="error"></div>
            </div>
          </div>
          <div class="email-container">
            <label for="email">Email </label><br />
            <input type="email" name="email" id="email" novalidate/>
            <div class="error">{{ error_message }}</div>
          </div>
          <!-- <div class="role-container">
            <label for="teacher">Role </label>
            <div>
              <input type="radio" name="user_role" id="teacher" checked>
              <label for="teacher">Teacher</label>
            </div>
            <div>
              <input type="radio" name="user_role" id="student">
              <label for="student">Student</label>  
            </div>
          </div> -->
          <div class="password-container">
            <label for="password">Password </label> <br />
              <input type="password" name="password" id="password" />
              <div class="error"></div>
          </div>
          <div class="c-password-container">
            <label for="c_password">Confirm Password </label><br />
            <input type="password" name="c_password" id="c_password" />
            <div class="error"></div>
          </div>
          <input type="submit" id="login-btn" class="btn create-btn" value="Create"/>
        </form>
      </div>
    </main>
  </body>
</html>