@import url('../style.css');
@import url('./navbar202.css');
@import url('./class.css');
@import url('../dropdown.css');
@import url('../hamburger.css');

.links ul li:first-child a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.class-info-card,
.material-card {
    background-color: var(--secondary-color);
    /* max-height: 300px; */
    padding: 40px;
    line-height: 2rem;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: var(--primary-color);
    word-wrap: break-word;
    word-break: break-all;
}

.class-code {
    cursor: pointer;
}

.class-info-card h2 {
    margin-bottom: 1rem;
}

.class-info-card.scroll-active {
    position: sticky;
    top: 50px;
}

.material-section {
    padding: 0 10px;
}

form,
.material-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    row-gap: 2rem;
}

fieldset {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

legend {
    margin-left: 20px;
}

.error {
    margin: -12px 0;
    font-size: 14px;
    color: var(--error-color);
}

#post_file {
    display: none;
}

.add-file-and-post-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-file-and-post-container label {
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.add-file-and-post-container label:hover {
    color: var(--accent-color);
}

.material-container {
    padding: 20px 0px;
    margin: 40px 0;
}

.material-card {
    width: 100%;
    margin: 20px 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position: relative;
    padding: 0;
    /* overflow: hidden; */
    /* border: 1px solid var(--secondary-color); */
}

/* .material-card div ~ * {
    padding: 1rem 40px;
} */

.file-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: start;
    padding: 20px 36px;
}

.title,
p.uploaded-by {
    /* background-color: var(--secondary-color); */
    font-size: var(--fnt-size-l);
    font-weight: var(--fnt-wght-b);
    /* color: var(--primary-color); */
}

p.uploaded-by {
    font-size: var(--fnt-size-v-s);
    padding: 0 36px;
    border-bottom: 1px solid var(--bg-color-op6);
}

.file_img_container {
    width: 200px;
    height: 120px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    overflow: hidden; 
    position: relative;
}

.file_link {
    display: block;
}

.file_image {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 300ms linear;
    object-fit: cover;
}

.file_image:hover {
    scale: 1.05;
    filter: grayscale(0);
}

.img-file-name {
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: var(--bg-color-op6);
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 200ms ease-out;
    font-size: var(--fnt-size-v-s);
    padding: 2px 10px;
    color: var(--primary-color);
}

.file_img_container:hover .img-file-name {
    transform: scaleY(1);
}

.edit-delete-menu {
    width: 40px;
    height: 40px;
    font-size: var(--fnt-size-m);
    float: right;
    /* background-color: red;  */
    border-radius: 50%; 
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 600ms ease-in-out;
    margin: 20px;
}

.edit-delete-menu:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.material-card .update-drop-down {
    width: 450%;
    position: absolute;
    color: var(--primary-color);
    height: auto;
    background-color: var(--secondary-color);
    padding: 5px 20px;
    text-align: center;
    display: none;
    top: 45px;
    right: 0;
    border-radius: 10px;
    z-index: 11;
}

.material-card .update-drop-down p {
    display: inline-block;
    transition: opacity 300ms ease-in-out;
    margin-right: 10px;
}

.material-card .update-drop-down p:hover {
    opacity: 0.6;
}

.material-card .update-drop-down.active {
    display: block;
}

/* modal styles... */
.modal {
    width: 60vw;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: .5px 1px 5px var(--secondary-color);
    border: none;
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    background-color: hsla(222, 11%, 18%, 0.75);
}

.close-modal {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    font-size: var(--fnt-size-l);
    margin-top: -20px;
}

.modal fieldset {
    border: none;
}

.modal legend {
    font-size: var(--fnt-size-l);
    font-weight: var(--fnt-wght-m);
}

@media (max-width: 834px) {
    .class-info-card {
        padding: 20px;
        line-height: 1.75rem;
        /* width: 80%; */
        margin: auto;
    }

    .material-section {
        margin: 60px 0;
    }

    form,
    .material-container {
        padding: 24px;
        row-gap: 1rem;
    }

    .material-container {
        padding: 24px 0px !important;
    }

    .material-card {
        width: 90%;
        padding: 5px 12px;
    }

    .file-container {
        padding: 20px 12px;
    }
}

@media (max-width: 375px) {
    .file-container {
        grid-template-columns: none;
    }

    .file_img_container {
        width: 120px;
        height: 80px;
    }
}