@import url('../style.css');

body {
    background: url('../../images/stream_body_pattern.jpg') repeat;
    background-size: contain;
    z-index: -2;
    position: relative;
}

#top-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the background color and opacity as needed */
    backdrop-filter: blur(0.5px);
    z-index: -1; /* Ensure the top layer appears above other content */
}

nav,
.main {
    max-width: 1200px;
    margin: auto;
}

.nav-bar-container {
    background-color: var(--secondary-color);
    color: white;
    height: 72px;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-links {
    position: relative;
    display: flex;
    align-items: center;
}

.links li{
    display: inline-block;
    margin-right: 3rem;
}

.links li a {
    color: var(--primary-color);
    text-decoration: none;
    transition: opacity 300ms ease-out;
}

.links li a:hover {
    opacity: 0.6;
}

.links ul li {
    position: relative;
}

.links ul li:first-child a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.nav-links .profile-img {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
}

.profile-img {
    position: relative;
    border: 1px solid var(--primary-color);
    background: var(--primary-color) url('../../images/user_icon.png') no-repeat center;
    background-size: cover;
    margin-right: 20px;
}

.nav-links i {
    cursor: pointer;
}

.drop-down,
.update-drop-down {
    display: none;
    position: absolute;
    width: 200px;
    height: 120px;
    top: 45px;
    right: 0;
    background-color: var(--bg-color-op6);
    /* border: 2px solid black; */
    border-radius: 10px;
    z-index: 1;
    /* display: flex; */
    padding: 20px 40px;
    /* flex-direction: column; */
    backdrop-filter: blur(5px);
    line-height: 2rem;
}

.drop-down a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    transition: opacity 600ms ease-out;
}
.drop-down a:hover {
    opacity: 0.6;
}

.drop-btn {
    transition: transform 300ms ease-out;
}
.drop-btn.active {
    transform: rotate(180deg);
}

/* <main> css starts here */
.main {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 40px;
    padding: 80px 60px;
}

.class-info-card,
.material-card {
    background-color: var(--secondary-color);
    /* max-height: 300px; */
    padding: 40px;
    line-height: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    color: var(--primary-color);
    word-wrap: break-word;
    word-break: break-all;
}

.class-info-card h2 {
    margin-bottom: 1rem;
}

.class-info-card.scroll-active {
    position: sticky;
    top: 50px;
}

.material-section {
    padding: 0 10px;
}

form,
.material-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    row-gap: 2rem;
}

fieldset {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

legend {
    margin-left: 20px;
}

form > input
,textarea {    /* div.material-section forms direct input child only to prevent btn style overwriting...*/
    width: 100%;
    height: 50px;
    padding:  10px;
    border: 2px solid var(--ternary-color);
    outline: none;
    border-radius: 5px;
    transition: all 300ms linear;
    font-family: 'Poppins', sans-serif;
}

form > input:focus,
textarea:focus {
    border-color: var(--accent-color);
}

textarea {
    height: 100px;
    resize: vertical;
}

#post_file {
    display: none;
}

.add-file-and-post-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-file-and-post-container label {
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.add-file-and-post-container label:hover {
    color: var(--accent-color);
}

.material-container {
    padding: 20px 0px;
}

.material-card {
    width: 100%;
    margin: 40px 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position: relative;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid var(--secondary-color); */
}

/* .material-card div ~ * {
    padding: 1rem 40px;
} */
.title,
.description {
    padding: 1rem 36px 0rem;
}

.file-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: start;
    padding: 20px 36px;
}

.title,
p.uploaded-by {
    /* background-color: var(--secondary-color); */
    font-size: var(--fnt-size-l);
    font-weight: var(--fnt-wght-b);
    /* color: var(--primary-color); */
}

p.title {
    color: var(--accent-color);
}

p.uploaded-by {
    font-size: var(--fnt-size-v-s);
    padding: 0 36px;
    border-bottom: 1px solid var(--bg-color-op6);
}

.file_img_container {
    width: 200px;
    height: 120px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    overflow: hidden; 
    position: relative;
}

.file_link {
    display: block;
}

.file_image {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: all 300ms linear;
}

.file_image:hover {
    scale: 1.05;
    filter: grayscale(0);
}

.img-file-name {
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: var(--bg-color-op6);
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 200ms ease-out;
    font-size: var(--fnt-size-v-s);
    padding: 2px 10px;
    color: var(--primary-color);
}

/* .file_img_container::before {
    content: 'skldfksdf';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    background-color: red;
} */

.file_img_container:hover .img-file-name {
    transform: scaleY(1);
}

.edit-delete-menu {
    width: 40px;
    height: 40px;
    font-size: var(--fnt-size-m);
    float: right;
    /* background-color: red;  */
    border-radius: 50%; 
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 600ms ease-in-out;
    margin: 20px;
}

.edit-delete-menu:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.material-card .update-drop-down {
    width: 450%;
    position: absolute;
    color: var(--primary-color);
    height: auto;
    background-color: var(--secondary-color);
    padding: 5px 20px;
    text-align: center;
}

.material-card .update-drop-down p {
    display: inline-block;
    transition: opacity 300ms ease-in-out;
    margin-right: 10px;
}

.material-card .update-drop-down p:hover {
    opacity: 0.6;
}

/* modal styles... */
.modal {
    width: 60vw;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: .5px 1px 5px var(--secondary-color);
    border: none;
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    background-color: var(--bg-color-op6);
}

.close-modal {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    font-size: var(--fnt-size-l);
    margin-top: -20px;
}

.modal fieldset {
    border: none;
}

.modal legend {
    font-size: var(--fnt-size-l);
    font-weight: var(--fnt-wght-m);
}