.links ul li:first-child a::after {
    display: none;
}

.links ul li:nth-child(2) a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.main {
    display: flex !important;
}

.task-container {
    flex: 70%;
    /* flex-basis: 0; */
}

.sort-by-section {
    margin-top: 20px;
    line-height: 2rem;
}

select {
    width: 100px;
    padding: 5px;
    outline: none;
}

.assign-task-form-container {
    flex: 30%;
    /* flex-basis: 0; */
}

header .title {
    padding-left: 0;
}
hr {
    margin-top: 20px;
    height: 2px;
    outline: none !important;
    border: 2.5px solid var(--bg-color-op6);
    border-radius: 5px;
    width: 100%;
}

.task-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 100px 0px;
    column-gap: 2.5rem;
    row-gap: 4.5rem;
}

.task-card-link {
    text-decoration: none;
    color: var(--secondary-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-approved {
    margin: 16px 24px 0 0;
    font-size: var(--fnt-size-l);
    color: var(--ternary-color);
}

.task-card {
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 300ms ease-out;
    background-color: var(--primary-color);
}

.task-card > form {
    padding: 0;
}

.teacher-task-card {
    height: fit-content !important;
}

.teacher-task-card,
.student-task-card {
    transform: translateX(5vw);
    opacity: 0;
    transition: 150ms;
}

.teacher-task-card.show,
.student-task-card.show {
    transform: translateX(0);
    opacity: 1;
}

.task-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.task-card .title {
    cursor: pointer;
}

/* .file_img_container {
    width: 100px;
    height: 60px;
    margin: 10px auto;
} */

.teacher-task-card .file_img_container {
    width: 100px;
    height: 60px;
    margin: 10px auto;
}

.teacher-task-card .img-file-name {
    width: 100%;
    height: 24px;
}

.update-drop-down {
    display: none;
    width: auto;
    height: auto;
    padding: 5px 12px;
    text-align: center;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: var(--bg-color-op6);
    border-radius: 10px;
    z-index: 11;
    backdrop-filter: blur(5px);
}
.update-drop-down form {
    padding: 0;
}
.task-card hr {
    border: 1.5px solid var(--bg-color-op6);
    border-radius: 0 !important;
}

.file-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: start;
    padding: 20px 36px;
}

.teacher-task-card .file-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
}

div.deadline {
    padding: 15px 36px;
    font-weight: var(--fnt-wght-b);
    font-size: var(--fnt-size-v-s);
    float: right;
}
span.due-date {
    font-weight: var(--fnt-wght-thin);
}

.form-main {
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

form#form {
    position: relative;
}

.error {
    position: absolute;
    top: 20px;
    left: 24px;
    font-size: 14px;
    color: var(--error-color);
}

.assign-task-form-container .title {
    padding-left: 0;
}

.delete-form {
    padding: 0;
    background: transparent;
    box-shadow: none;
}

.delete-post {
    background-color: transparent;
    color: var(--primary-color);
}

.delete-post:hover {
    background-color: transparent;
    color: hsl(0, 0%, 90%); 
}

/* styling of modal section starts here */
.modal {
    width: 80vw;
    height: 100%;
    border-radius: 40px 0 0 40px;
    inset: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 100vw;
    transition: all 300ms ease-out;
}

.modal.show {
    left: 20vw;
}

.modal .title {
    cursor: auto;
}

.close-modal {
    float: left;
    margin-left: 10px;
}

.modal-nav {
    /* border: 2px solid red; */
    padding: 10px 5px;
}

.task-progress-container {
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    /* border: 1px solid blue; */
    margin: 10px 0;
    line-height: 5rem;
    text-align: center;
}

.task-progress-container > div {
    border-right: 3px solid var(--secondary-color);
}

.task-progress-container div:last-child {
    border: none;
}

.number-of-progress {
    font-size: 40px;
    color: var(--accent-color);
    font-weight: var(--fnt-wght-b);
}

.submitted-assignment-list-container {
    margin: 20px 1em;
}
.submitted-assignment-list-container h2{
    /* border: 1px solid green; */
    color: var(--accent-color);
    padding: 20px 0;
}

.assignment-lists {
    /* border: 1px solid orange; */
    margin: 10px 0;
}

ul {
    list-style-type: none;
}

ul > li > div {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

ul > li > div p:first-child {
    grid-column: 1/3;
    font-size: var(--fnt-size-l);
}

ul > li > div p:nth-child(2) {
    font-size: var(--fnt-size-v-s);
}

.btns {
    grid-column: 4/6;
    text-align: end;
    /* border: 1px solid black; */
}

.btns > * {
    margin-right: 32px;
}

.btns > a {
    color: var(--ternary-color);
    transition: color 300ms ease-out;
    font-style: italic;
    font-weight: var(--fnt-wght-b);
}

.btns > a:hover {
    color: var(--accent-color);   
}

.assignment-lists hr {
    height: 1px !important;
    border: 1px solid var(--bg-color-op6);
    margin-bottom: 20px;
}

/* task card container for students view only... */
.task-card-container-stud {
    margin: 40px 0;
    padding: 20px 10px;
}

.task-card-container-stud .task-card {
    width: 100%;
    margin-bottom: 40px;
}

.task-card-container-stud .task-card .deadline {
    float: left;
    width: 100%;
}

.task-status {
    float: right;
}

.task-main {
    display: flex;
    /* border: 1px solid black; */
}

.task-info-container {
    flex: 65%;
}

.task-info-container hr {
    margin-left: 36px;
    width: 90%;
}

.task-submission-form-container {
    flex: 35%;
    /* border: 1px solid red; */
}

.task-submission-form-container form {
    width: 80%;
    margin: auto;
}

.submit-task-form {
    padding: 0;
}

.task-name {
    padding: 26px 36px 5px;
}

.task-submission-form-container form .title {
    padding: 5px;
    text-align: center;
}
.task-submission-form-container form .btn{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: var(--fnt-size-s);
}

.view-approve-menu {
    display: none;
}


@media (max-width: 834px) {
    .main {
        flex-direction: column;
    }
    .assign-task-form-container {
        order: -1;
        margin-bottom: 60px;
        /* flex-basis: 0; */
    }
    .task-card-container {
        padding: 40px 0px;
        row-gap: 3rem;
    }
    .task-card {
        max-width: 80vw;
    }

    .task-main {
        flex-direction: column;
        row-gap: 2.5rem;
    }

    .file-container {
        padding: 20px 12px;
    }

    .modal {
        width: 100%;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        left: 0vw !important;
        transform: translateY(10px) scale(0.6);
    }

    .modal.show {
        transform: translateY(-50%) scale(1);
    }

    .task-progress-container {
        grid-template-columns: auto ;
        margin: 5px 0;
        line-height: 4.5rem;
    }

    .task-progress-container > div {
        border-right: none;
        border-bottom: 1px solid var(--bg-color-op6);
        padding-bottom: 10px; 
    }

    ul > li > div {
        grid-template: auto auto / repeat(2, 1fr);
    }

    ul > li > div p:first-child {
        grid-column: 1 / 2;
    }
    
    .btns {
        grid: 2 / 3;
        display: none;
    }

    .view-approve-menu {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: auto;
        padding-top: 5px;
        text-align: center;
    }

    .update-drop-down {
        padding: .6em .5em;
        line-height: 2em;
    }

    .drop-down button.btn {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    .drop-down button.btn:hover {
        color: var(--bg-color-op6);
    }
}

@media (max-width: 375px) {
    .main {
        padding: 40px 30px;
    }
    .add-file-and-post-container {
        margin-top: 24px;
        flex-direction: column;
        row-gap: 24px;
        align-items: flex-start;
    }
    .task-submission-form-container form .btn{
        font-size: var(--fnt-size-v-s);
    }
    .file-container {
        grid-template-columns: none;
    }

    .file_img_container {
        width: 120px;
        height: 80px;
    }
}

.select-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 120px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
  }
  
  .dropdown-toggle i {
    float: right;
    transition: transform 150ms ease-out;
  }
  .dropdown-menu {
    position: absolute;
    width: 100%;
    top: 120%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
    border-radius: 5px;
    overflow: hidden;
    z-index: 11;
  }
  
  .dropdown-menu li {
    padding: 7.5px;
    cursor: pointer;
    font-size: var(--fnt-size-v-s);
  }
  
  .dropdown-menu li:hover {
    background-color: hsl(222, 11%, 25%);
  }
  