<!--ask email for sending password reset code-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- fontawesome cdn -->
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
     integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
     crossorigin="anonymous"
     referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../static/css/forgotPassword/reset_password.css">

    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <h3>Forgot password</h3>
            <p>Enter your email and we'll send you a link to reset your password.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="someone@example.com">
                <div class="error" style="display: none;"></div>
                <div class="action-btns">

                    <input type="submit" class="btn submit-btn" value="Submit">
                    <a href="http://127.0.0.1:8000/login/" class="btn back-to-login-btn">
                        <i class="fas fa-chevron-left"></i>
                        Back to login
                    </a>
                </div>
            </form>
            <p class="error">
                {{error_email}}
                {{ code_already_sent }}
            </p>
    </div>
</body>
</html>