@import url('./style.css');
@import url('./landingPage.css');

section {
    max-width: 1200px;
    margin: 40px auto;
}

.aboutUs-page-img {
    width: 50vw;
    animation: animateImg 3s linear infinite;
    max-width: 640px;
}

 /* cards */
.features-container{
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    /* justify-content: center;
    align-items: center; */
    padding: 20px 50px;
    row-gap: 50px;
    column-gap: 60px;
}

.feature-card {
    width: 265px;
    height: 250px;
    background-color: var(--ternary-color);
    border-radius: 20px;
    margin-bottom: auto; 
    text-align: center;
    align-self: center;
    transition: transform 0.25s;
}

.feature-card img {
    text-align: center;
    display: block;
    margin:auto;
    padding-top: 50px;
    width: 150px;
    height: 160px;
}

.feature-card p{
    color: aliceblue;
    padding-top: 40px;
}

.feature-card:hover{
    transform: scale(1.1);
}

/* reviews */
.reviews-section{
    padding: 20px 40px;
}

.reviews-container{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
    column-gap: 60px;
    margin: 40px auto;
}

.review {
    width: 350px;
    height: 350px;
    background-color: var(--ternary-color);
    border-radius: 20px;
    margin-bottom: auto; 
    /* text-align: center; */
}

.review{
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    position: relative;
}

.review-description{
    text-align: left;
}
.review-name{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 50px;
    padding-bottom: 10px;
}

/* Meet our team */
.team-section{
    padding: 20px 40px;
}
.team-container{
    display: flex;
    position: relative;
    gap: 40px;
}
.team-image{
    width: 120%;
    background: url('/static/images/aboutUs_image_team.png') no-repeat center;
    background-size: contain;
    animation: animateImg 3s linear infinite;
    /* max-width: 640px; */
}

.team-developer{
    width: 80%;
    /* position: absolute;
    right: 0; */
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(2, 50%);
    /* grid-template-areas: 
    'member-1 member-1 circle-1'
    'member-2 member-2 circle-2'; */
    /* gap: 50px; */
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.member-img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.member-1 {
    /* position: absolute; */
    /* right: 0; */
    background: url('/static/images/kanak.png') no-repeat 95% 40%;
    background-size: 275px;
    /* grid-area: circle-1; */
}

.member-2 {
    /* position: absolute; */
    right: 0;
    background: url('/static/images/shrijan.png') no-repeat 55% 22% ;
    background-size: 420px;
    /* grid-area: circle-2; */
}

/* .team-member-name-1{
    position: absolute;
    right: 0;
    display: block;
    grid-area: member-1;
    padding-top: 115px;
    padding-right: 40px;
    justify-content: center;
    font-weight: bold;
}

.team-member-name-2{
    position: absolute;
    right: 0;
    display: block;
    grid-area: member-2;
    margin: auto;
    padding-top: 115px;
    padding-right: 40px;
    font-weight: bold;
} */


