@import url('./style.css');
@import url('./dropdown.css');

body {
    position: relative;
}

nav,
.classes
/* .people-img-container,
.new-class-section,
footer .links*/ {
    max-width: 1200px;
    margin: auto;
}

.nav-bar-container {
    background-color: var(--secondary-color);
    color: white;
    height: 72px;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-links {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-links button,
.nav-links .profile-img {
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 50%;
}

.nav-links i {
    cursor: pointer;
}

.nav-links button {
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: var(--fnt-size-m);
}

.nav-links > button {
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-right: 40px;
    transition: all 600ms ease-out;
}

.profile-img {
    position: relative;
    border: 1px solid white;
    background: white url('../images/user_icon.png') no-repeat center;
    background-size: cover;
    margin-right: 20px;
}

/* .profile-img::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 35%;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 15px solid var(--primary-color);
    cursor: pointer;
} */

.classes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 100px 50px;
    column-gap: 2.5rem;
    row-gap: 4.5rem;
}

.class-card-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.class-card {
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 300ms ease-out;
    overflow: hidden;
}

.class-card:hover {
    scale: 1.01;
}

.class-img-container {
    width: 100%;
    height: 180px;
}

.class-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps the aspect ratio of the image... */
}

.class-info {
    padding: 20px 15px;
}

.class-info h3 {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-op6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal-container.active {
    /* overflow: hidden !important; */
    display: flex;
}

.modal {
    background-color: var(--primary-color);
    padding: 10px 20px;
    width: 60vw;
    border-radius: 5px;
    box-shadow: .5px 1px 5px var(--secondary-color);
}

.modal-nav {
    padding: 10px;
}

.modal-nav i{
    float: right;
    font-size: var(--fnt-size-m);
    cursor: pointer;
}

.modal-form {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.modal-form > div,
.modal-form > div input {
    font-size: var(--fnt-size-m);
    font-weight: var(--fnt-wght-m);
    outline: none;
}

.modal-form > div {
    line-height: 2rem;
}

.modal-form > div input {
    width: 100%;
    padding: 10px 10px;
}

.modal-form > div input:focus {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.create-class-btn,
.join-class-btn {
    width: 100px;
    height: 40px;
}

@media (max-width: 375px) {
    .nav-links > button {
        margin-right: 20px;
    }
    .classes {
        padding: 60px 20px;
        column-gap: 0;
        row-gap: 3.5rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .class-card-link {
        display: block;
    }
    .class-card {
        width: 80%;  
    }
}