.drop-down {
    display: none;
    position: absolute;
    width: 200px;
    height: 120px;
    top: 45px;
    right: 0;
    background-color: var(--bg-color-op6);
    /* border: 2px solid black; */
    border-radius: 10px;
    z-index: 1;
    /* display: flex; */
    padding: 20px 40px;
    /* flex-direction: column; */
    backdrop-filter: blur(5px);
    line-height: 2rem;
}

.drop-down a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    transition: opacity 600ms ease-out;
}
.drop-down a:hover {
    opacity: 0.6;
}

.drop-btn {
    transition: transform 300ms ease-out;
}
.drop-btn.active {
    transform: rotate(180deg);
}