/* styles for the hamburger menu icon */

.hamburger-icon {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 5px auto;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
}

.hamburger-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.active .bar:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-icon.active .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
}


@media (max-width: 834px) {
    .hamburger-icon {
        display: block;
    }
}