@import url('./style.css');
@import url('./hamburger.css');

nav,
.people-img-container,
.new-class-section,
footer .links {
    max-width: 1200px;
    margin: auto;
}

.nav-bar-container {
    background-color: var(--secondary-color);
    color: white;
    height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 60px;
}

.nav-sub-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    position: relative;
    color: var(--primary-color);
    display: block;
    margin: 5px 20px;
    text-decoration: none;
    transition: all 600ms ease-out;
    background-clip: text;
}

.nav-links a:hover {
    opacity: 0.6;
}

.hero {
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
    padding: 50px 10px;
    justify-content: center;
}

.hero-description {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2.5rem;
}

.hero-description cite {
    font-size: var(--fnt-size-xl);
    font-weight: var(--fnt-wght-b);
}

.hero-para {
    font-size: var(--fnt-size-m);
}

.hero-para,
.btn-container {
    margin-left: 20px;
}

.landing-page-img {
    width: 50vw;
    animation: animateImg 3s linear infinite;
    max-width: 640px;
}

.hero-img-container,
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-btn {
    padding: 15px 24px;
}

.get-started-btn i {
    margin-left: 5px;
    transition: all 300ms ease-in;
}

.get-started-btn:hover i {
    transform: translateX(10px);
}

/* animation for images in landing page */
@keyframes animateImg {
    25% {transform: translateY(-5px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(5px);}
    100% {transform: translateY(0px);}
}

.people-img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding: 50px 60px;
    row-gap: 50px;
    column-gap: 60px;
    overflow-x: hidden;
}

.p-img-container {
    width: 300px;
    height: 400px;
    background-color: var(--ternary-color);
    border-radius: 0 25px 0 25px;
    margin: auto;
    position: relative;
}

.p-img-container img {
    position: absolute;
    bottom: 0;
    transform: translateX(-30%);
}

.new-class-section {
    display: flex;
    padding: 24px;
}

.main-body-text {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2.5rem;
}

.title {
    font-size: var(--fnt-size-xl);
    font-weight: var(--fnt-wght-b);
}

.description {
    font-size: var(--fnt-size-s);
}

.create-class-btn,
.join-class-btn {
    padding: 15px 20px;
}

.join-new {
    flex-direction: row-reverse;
}

.generate-a-report-section {
    margin: 40px 0;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 60px 10px;
    line-height: 3rem;
    text-align: center;
    color: var(--primary-color);
}

/* footer section */
footer .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 120px 100px 20px 100px;
    column-gap: 2rem;
  }
  
  .short_description {
    grid-column: 1/3;
    padding-right: 2.5rem;
  }
  
  .short_description p {
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: var(--fnt-size-s);
    padding-left: 10px;
  }
  
  div.short_description ~ div > .sub_heading {
    color: var(--secondary-color);
    font-size: var(--fnt-size-s);
    font-weight: var(--fnt-wght-b);
  }
  
  div.short_description ~ div > ul {
    padding: 1rem 0;
    line-height: 2.25rem;
  }
  
  div.short_description ~ div > ul > li {
    list-style-type: none;
  }
  
  div.short_description ~ div > ul > li > a {   /* div.short_description ko adjacent siblings haru...*/
    position: relative;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--fnt-size-s);
    font-weight: var(--fnt-wght-m);
  }
  
  div.short_description ~ div > ul > li > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 200ms ease-out;
  }
  
  div.short_description ~ div > ul > li > a:hover::after {
    transform: scaleX(1);
  }

  .contact_links ul li p {
    font-size: var(--fnt-size-s);
    font-weight: var(--fnt-wght-m);
    color: var(--secondary-color);
  }
  
  .social_media {
    grid-column: 1/-1;
    padding: 2.5rem 0;
  }
  
  .social_media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.25rem;
  }
  
  .social-media-icon:hover::after {
    content: none;
  }
  
  .social-media-icon i{
    font-size: var(--fnt-size-m);
  }
  
  .copyright_sec {
    padding: 2rem 0;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* responsive design starts here */
@media (max-width: 834px) {
    .nav-sub-container {
        position: fixed;
        flex-direction: column;
        background-color: var(--secondary-color);
        backdrop-filter: blur(5px);
        padding: 30px 60px;
        top: 72px;
        right: 0;
        transform: translateX(100%);
        justify-content: space-around;
        height: 100vh;
        z-index: 1;
        transition: all 300ms ease-in-out;
    }

    .nav-sub-container.active{
        transform: translateX(0%);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        max-width: 100px;
    }

    .nav-links li {
        width: 100%;
        margin: 1.5rem auto;
    }

    .login-btn {
        margin-left: 1rem;
    }

    .hero {
        margin: 50px auto;
        padding: 40px 10px;
        justify-content: center;
        flex-direction: column;
    }

    .hero-description {
        padding: 15px 30px;
        text-align: center;
    }

    .hero-para,
    .btn-container {
        margin-left: 0px;
    }

    .hero-img-container img {
        width: 100%;
    }

    .new-class-section {
        flex-direction: column;
    }

    .new-class-section .main-body-text {
        text-align: justify;
    }

    .new-class-section .img-container img {
        width: 100%;
    }

    footer .links {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 96px 84px 12px 84px;   /* reduced each by 40% of desktop version... */
        row-gap: 2rem;
    }
    .short_description {
        grid-column: 1/-1;
    } 
      
    .short_description p {
        padding-left: 0px;
    }

    .copyright_sec {
        padding: 1.25rem 0;
    }
}

@media (max-width: 375px) {
    .logo {
        width: 50px;
    }

    .hero {
        padding: 40px 5px;
    }

    .hero-description cite {
        font-size: var(--fnt-size-l);
    }
    
    .hero-para {
        font-size: var(--fnt-size-s);
    }

    .btn {
        padding: 10px 20px;
        font-size: var(--fnt-size-v-s);
    }
    .people-img-container {
        padding: 50px 10px;
    }
    .p-img-container {
        width: 200px;
        height: 300px;
    }
    
    .p-img-container img {
        width: 250%;
        transform: translateX(-32%);
    }
    
    .title {
        font-size: var(--fnt-size-l);
    }

    .description {
        font-size: var(--fnt-size-v-s);
    }

    .new-class-section {
        padding: 24px 0px;
    }

    footer .links {
        padding: 60px 24px 20px 24px;
        column-gap: 1.75rem;
    }

    .copyright_sec {
        font-size: var(--fnt-size-v-s);
    }
}