@import url('./style.css');

.nav-bar-container {
    background-color: var(--secondary-color);
    color: white;
    height: 72px;
}

nav {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
}

.logo {
    width: 60px;
}