@import url(login-signup.css);

.form-section {
    width: 100%;
    position: relative;
}

.form-section form {
    row-gap: 2rem;
}

.background-image {
    background: url('../../static/images/login_page_img.jpg') no-repeat 0px 80px;  /* shorthand for 'background-img', 'background-repeat', and 'background-position' properties...*/
    background-size: contain;
    /* margin-top: 70px; */
}