@import url(style.css);
@import url(login-signup.css);

.sign-up-btn {
    padding: 5px 10px;
    margin-left: 1rem;
}

.form-section {
    padding: 50px 100px;
    width: 100%;
    position: relative;
}

#login-btn {
    width: 40%;
}