/* {% load static %} */
@import url(login-signup.css);

.background-image {
  background: url('../../static/images/signup-page-vector-img.jpg') no-repeat 0 80px;   /* shorthand for 'background-img', 'background-repeat', and 'background-position' properties... */
  background-size: contain;
}

.name-container {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.form-section .name-container div {
  width: 100%;
}

/* .role-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* responsive design starts here */

/* styles for tablet screens */
@media (max-width: 834px) {
  .name-container {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}