/* {% load static %} */
@import url(login-signup.css);

.background-image {
  background: url('../../static/images/signup-page-vector-img.jpg') no-repeat 0 80px;   /* shorthand for 'background-img', 'background-repeat', and 'background-position' properties... */
  background-size: contain;
}

.name-container {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.form-section .name-container div {
  width: 100%;
}

/* .role-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* responsive design starts here */

/* styles for tablet screens */
@media (max-width: 834px) {
  .name-container {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}

.popup {
  background-color: var(--popup-info-bg-color);
  width: 500px;
  /* box-shadow: var(--ternary-color) 0px 8px 24px; */
  color: var(--popup-info-txt-color);
  padding: 10px 20px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) scale(0.4);
  z-index: 111;
  opacity: 0;
  border: 1px solid var(--popup-info-txt-color);
  border-radius: 20px;
  transition: all 200ms ease-out;
  text-align: center;
  box-shadow: var(--box-shadow-popup);
}

.info {
  font-size: var(--fnt-size-v-s);
}

.popup.show {
  top: 40px;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}