/* importing the font-family from google fonts... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* css variables will be here */
    --accent-color: hsl(219, 44%, 49%);
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(222, 11%, 18%); 
    --ternary-color: hsl(210, 61%, 65%);
    --btn-on-hover-color: hsl(219, 44%, 40%);
    --btn-on-hover-dark: hsl(222, 11%, 10%); 
    --error-color: hsl(0, 79%, 72%);
    --bg-color-op6: hsla(222, 11%, 18%, 0.75);   /*mostly used for the background color that is 60% transparent...*/
    --popup-info-bg-color: #e6f4ff;

    --default-txt-color: hsl(0, 0%, 0%);
    --secondary-txt-color: var(--secondary-color);
    --btn-txt-color: var(--primary-color);
    --popup-info-txt-color: #00438c;

    --fnt-size-xl: 30px;
    --fnt-size-l: 24px;
    --fnt-size-m: 20px;
    --fnt-size-s: 16px; 
    --fnt-size-v-s: 12px;

    --fnt-wght-b: 700;
    --fnt-wght-m: 500;
    --fnt-wght-thin: 200;
    
    --box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --box-shadow-popup:  var(--popup-info-bg-color) 0px 1px 2px 0px, var(--popup-info-bg-color) 0px 1px 3px 1px;
}

html {
    scroll-behavior: smooth;    /* makes the navigation to the particular section when clicking the internal links in the browser smooth (e.g. when the logo button is clicked, smooth navigation to the top of the landingPage...)*/
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    border: none !important;
    background-color: var(--accent-color);
    color: var(--btn-txt-color);
    transition: all 300ms linear;
    padding: 7.5px 20px;
}

.btn:hover {
    background-color: var(--btn-on-hover-color);
}

.card-shadow {
    box-shadow: var(--box-shadow);
    
}

.card-shadow:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}