<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peoples</title>

    <link rel="stylesheet" href="../../../static/css/class/people.css">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../../../static/script/scrollUp.js" defer></script>
</head>
<body>
    {% include 'scholaractapp/includes/navbar202.html' %}
    <main id="main" class="main">
        <div class="teacher-list-container">
            <header>
                <p class="title">Teachers</p>
                <hr>
            </header>
            <div class="list teacher-list">
                <ul>
                    <li>{{ created_by }}</li><hr>
                </ul>
            </div>
        </div>
        <div class="student-list-container">
            <header>
                <p class="title">Students</p>
                <hr>
            </header>
            <div class="list student-list">
                <ul>
                    {% for student in enrolled_students %}
                    <li>
                        <p>{{student.name}}</p>
                        <div class="edit-delete-menu">
                            <i class="fas fa-ellipsis-v"></i>
                            <!-- <div class="update-drop-down">
                                <form action="{% url 'deleteTask' pk='__task.id__' %}" method="post" class="delete-form">
                                    '__task_id__' used in the template code are just a placeholder to indicate that it needs to be replaced with the actual task.id value in JavaScript.-->
                                    <!-- {% csrf_token %}
                                    <input type="hidden" name="form_identifier" value="delete_task_form">
                                    <button type="submit" class="btn delete-post">Delete</button> 
                                </form>
                            </div> -->
                        </div>
                    </li><hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <a href="#main">
        <div class="scroll_up"><i class="fas fa-fighter-jet"></i></div>
    </a>
</body>
</html>
