<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>

    <link rel="stylesheet" href="../../../static/css/class/stream.css">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- pdf.js js library to generate thumbnails of the pdf files... -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js" defer></script> -->
    <!-- link to stream.js file -->
    <script type="module" src="{% static 'script/stream.js' %}" defer></script>

    <script src="../../../static/script/validate_assign.js" defer></script>

    <script type = "module" src="../../../static/script/popUp.mjs" defer></script>
    
</head>
<body>
    {% include 'scholaractapp/popUp.html' %}

    <div id="top-layer"></div>
    <!-- <dialog class="modal">
        <fieldset>
            <legend>Update</legend>
            <div class="modal-nav">
                <i class="fas fa-times close-modal"></i>
            </div>
            <form action="" method="post" enctype="multipart/form-data" id="upadte-form">
                {% csrf_token %}
                <input type="text" name="post_title" id="post_title" placeholder="Title here...">
                <textarea name="post_description" id="post_description" cols="30" rows="10" placeholder="Body..." resize></textarea>
                <div class="add-file-and-post-container">
                    <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                    <input type="file" name="post_file" id="post_file">
                    <input type="submit" class="btn" value="Update" id="update-btn">
                </div>
            </form>
        </fieldset>
    </dialog> -->
    
    {% include 'scholaractapp/includes/navbar202.html' %}

    <main class="main">
        <div class="class-info-container">
            <div class="class-info-card">
                {% if role == "Teacher" %}
                    <h2>Class code: <span class="class-code" title="copy">{{class.class_code}}</span></h2>  <!--class code to be added dynamically from django-->
                {% endif %}
                
                {% if role == "Teacher" %}
                    <p>Subject: <span>{{class.subject_name}}</span></p>
                
                {% else %}
                    <h2>Subject: <span>{{class.subject_name}}</span></h2>
                {% endif %}

                <p>Teacher: <span>{{class.teacher}}</span></p>
            </div>
        </div>
        <div class="material-section">
            <fieldset>
                <legend>Upload</legend>
                <form action="" method="post" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- here the error is relatively positioned so the height of the form will change as the error appears... -->
                    <p class="error"></p>
                    <input type="text" class="input" name="post_title" id="post_title" placeholder="Title here...">
                    <textarea name="post_description" id="post_description" class="input" cols="30" rows="10" placeholder="Body..." resize></textarea>
                    <div class="add-file-and-post-container">
                        <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                        <input type="file" name="post_file" id="post_file"
                        class="upload_files"
                        multiple>
                        <input type="submit" class="btn" value="Post">
                    </div>
                </form>
            </fieldset>

            <div class="material-container" data-materials="{{course_json}}">
            </div>
            <template class="stream-template">
                <div class="material-card">
                    <div class="edit-delete-menu">
                        <i class="fas fa-ellipsis-v"></i>
                        <!-- removed drop-down class from div.update-drop-down -->
                        <div class="update-drop-down">
                            
                            <form action="{% url 'updateMaterial' pk='__material.id__' %}" 
                            method="post" class="update_material_form">
                                {% csrf_token %}
                                <input type="hidden" name="form_identifier" value="update_material_id_form_identifier">
                                <button type="submit" class="update-btn edit-post">Edit</button>
                            </form>
                            <!-- <p class="edit-post">Edit</p> -->
                
                            <!-- delete section-->
                            <form action="{% url 'deleteMaterial' pk='__material.id__' %}" 
                            method="post" class="delete_material_form">
                                {% csrf_token %}
                                <input type="hidden" name="form_identifier" value="delete_material_form_identifier">
                                <button type="submit" class="update-btn delete-post">Delete</button>
                            </form>
                            
                            
                            <!-- <p class="delete-post" onclick="">Delete</p> -->
                        </div>
                    </div>
                    
                    <p class="title"></p>
                    <p class="uploaded-by">Uploaded by: <span class="uploader"></span></p>
                    <p class="description"></p>
                    <div class="file-container"></div>
                </div>

                <!-- modal for every material card -->
                <dialog class="modal">
                    <fieldset>
                        <legend>Update</legend>
                        <div class="modal-nav">
                            <i class="fas fa-times close-modal"></i>
                        </div>
                        <form action="" method="dialog" enctype="multipart/form-data" id="upadte-form">
                            {% csrf_token %}
                            <input type="text" name="post_title" id="post_title" placeholder="Title here...">
                            <input type="hidden" name="form_identifier" value="update_material_form_identifier">
                            <textarea name="post_description" id="post_description" cols="30" rows="10" placeholder="Body..." resize></textarea>
                            <div class="add-file-and-post-container">
                                <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                                <input type="file" name="post_file" id="post_file">
                                <input type="submit" class="btn" value="Update" id="update-btn">
                            </div>
                        </form>
                    </fieldset>
                </dialog>
            </template>
            <template class="file-template">
                    <div class="file_img_container">
                        <a href="#" class="file_link" target="_blank">
                            <img src="" alt="file image" class="file_image">
                            <div class="img-file-name"></div>
                        </a>
                    </div>
            </template>
        </div>
    </main>
    <!-- <script type="module">
        // import {fetchMaterials} from '../../static/script/modules/fetch.js';
        // var pk = `Primary key: {{ pk }}`;

        // fetchMaterials(pk);
    </script> -->
</body>
</html>