<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>

    <!-- <link rel="stylesheet" href="../../../static/css/class/stream.css"> -->

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- pdf.js js library to generate thumbnails of the pdf files... -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js" defer></script> -->

    <!-- link to stream.js file -->
    <!-- <script src="../../../static/script/stream.js" defer></script> -->
    
    <!-- <script src="../../../static/script/hamburger.js" defer></script> -->
</head>
<body>
    <div id="top-layer"></div>
    <!-- <dialog class="modal">
        <fieldset>
            <legend>Update</legend>
            <div class="modal-nav">
                <i class="fas fa-times close-modal"></i>
            </div>
            <form action="" method="post" enctype="multipart/form-data" id="upadte-form">
                {% csrf_token %}
                <input type="text" name="post_title" id="post_title" placeholder="Title here...">
                <textarea name="post_description" id="post_description" cols="30" rows="10" placeholder="Body..." resize></textarea>
                <div class="add-file-and-post-container">
                    <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                    <input type="file" name="post_file" id="post_file">
                    <input type="submit" class="btn" value="Update" id="update-btn">
                </div>
            </form>
        </fieldset>
    </dialog> -->
    
    {% include 'scholaractapp/includes/navbar202.html' %}

    <main class="main">
        <div class="class-info-container">
            <div class="class-info-card">
                <h2>Class code: <span>{{class.class_code}}</span></h2>  <!--class code to be added dynamically from django-->
                <p>Subject: <span>{{class.subject_name}}</span></p>
                <p>Teacher: <span>{{class.teacher}}</span></p>
            </div>
        </div>
        <div class="material-section">
            <fieldset>
                <legend>Upload</legend>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="post_title" id="post_title" placeholder="Title here...">
                    <textarea name="post_description" id="post_description" cols="30" rows="10" placeholder="Body..." resize></textarea>
                    <div class="add-file-and-post-container">
                        <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                        <input type="file" name="post_file" id="post_file" multiple>
                        <input type="submit" class="btn" value="Post">
                    </div>
                </form>
            </fieldset>

            <div class="material-container" data-materials="{{course_json}}">
            </div>
            <template class="stream-template">
                <div class="material-card">
                    <div class="edit-delete-menu">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="drop-down update-drop-down">
                            <p class="edit-post">Edit</p>
                            <p class="delete-post" onclick="">Delete</p>
                        </div>
                    </div>
                    <p class="title"></p>
                    <p class="uploaded-by">Uploaded by: <span class="uploader"></span></p>
                    <p class="description"></p>
                    <div class="file-container"></div>
                </div>
            </template>
            <template class="file-template">
                    <div class="file_img_container">
                        <a href="#" class="file_link" target="_blank">
                            <img src="" alt="file image" class="file_image">
                            <div class="img-file-name"></div>
                        </a>
                    </div>
            </template>
        </div>
    </main>
</body>
</html>