<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="../../../static/script/hamburger.js" defer></script> -->

    <link rel="stylesheet" href="../../../static/css/class/stream.css">
    <link rel="stylesheet" href="../../../static/css/class/tasks.css">
</head>
<body>
    <div id="top-layer"></div>
    <!-- <section class="nav-bar-container">
        <nav>
            <a href="#">
                <img src="/static/images/logo.svg" width="60" alt="Scholaract logo" class="logo">
            </a>
            <div class="nav-links links nav-sub-container">
                <ul>
                    <li><a href="#">Stream</a></li>
                    <li><a href="">Tasks</a></li>
                    <li><a href="">People</a></li>
                    <li><a href="">Report</a></li>
                    <li style="display: none;"><a href="">Marks</a></li>   
                </ul>
            </div>
            <div class="nav-links">
                <div class="profile-img"></div>
                <i class="fas fa-caret-down drop-btn"></i>
                <div class="drop-down">
                    <a href="#">Profile</a>
                    <a href="{%url 'logout'%}">Logout</a>
                </div>
                <div class="hamburger-icon">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </section> -->
    {% include 'scholaractapp/includes/navbar202.html' %}

    <main class="main">
        <div class="task-container">
            <header>
                <p class="title">Task assigned</p>
                <hr>
            </header>
            <div class="task-card-container">
                <a href="" class="task-card-link">
                    <div class="task-card">
                        <p class="title task-name">Task 1</p>
                        <hr>
                        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, reiciendis?</p>
                        <p class="deadline">Deadline: <span class="due-date">20th June, 2023</span></p>
                    </div>
                </a>
                <a href="" class="task-card-link">
                    <div class="task-card">
                        <p class="title task-name">Task 1</p>
                        <hr>
                        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, reiciendis?</p>
                        <p class="deadline">Deadline: <span class="due-date">20th June, 2023</span></p>
                    </div>
                </a>
                <a href="" class="task-card-link">
                    <div class="task-card">
                        <p class="title task-name">Task 1</p>
                        <hr>
                        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, reiciendis?</p>
                        <p class="deadline">Deadline: <span class="due-date">20th June, 2023</span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="assign-task-form-container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="title">Assign</p>
                <input type="text" name="post_title" id="post_title" placeholder="Title here...">
                <textarea name="post_description" id="post_description" cols="30" rows="10" placeholder="Body..." resize></textarea>
                <div class="add-file-and-post-container">
                    <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                    <input type="file" name="post_file" id="post_file" multiple>
                    <input type="submit" class="btn" value="Assign">
                </div>
            </form>
        </div>
    </main>
</body>
</html>