<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="../../../static/script/hamburger.js" defer></script> -->

    <link rel="stylesheet" href="../../../static/css/class/stream.css">
    <link rel="stylesheet" href="../../../static/css/class/tasks.css">

    <!-- <script type="module" src="../../../static/script/task.js" defer></script> -->

    <!-- We will be using different script for the student and teachers respectively...  -->
    {% if role == "Teacher" %}  
    <script type="module" src="../../../static/script/task_teacher.js" defer></script>
    <script src="../../../static/script/validate_assign.js" defer></script>
    <script type = "module" src="../../../static/script/popUp.mjs" defer></script>
    
    {% elif role == "Student" %}
    <script type="module" src="../../../static/script/task_students.js" defer></script>
    <script type = "module" src="../../../static/script/popUp.mjs" defer></script>
    
    {% endif %}
    <!-- <script src="../../../static/script/validate_assign.js" defer></script> -->
    <!-- <script type="module" src="../../../static/script/file_input_pop_up.js" defer></script> -->

    
</head>
<body>
    <div id="top-layer"></div>
    
    {% include 'scholaractapp/includes/navbar202.html' %}

    {% if role == "Teacher" %}
        <main class="main">
            {% include 'scholaractapp/popUp.html' %}
            <div class="task-container">
                <header>
                    <p class="title">Task assigned</p>
                    <hr>
                </header>
                <div class="task-card-container" data-task="{{task_json}}" data-task-submitted="{{ task_submitted_json }}"></div>
            </div>
            <div class="assign-task-form-container">
                <form
                 action="" 
                 method="post" 
                 id="form" 
                 class="form-main"
                 enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="error"></div>
                    <p class="title">Assign</p>
                    <input type="hidden" name="form_identifier" value="assign_task_form">
                    <input type="text" name="post_title" id="post_title" class="input" placeholder="Title here...">
                    <textarea name="post_description" id="post_description" cols="30" rows="10" class="input" placeholder="Body..." resize></textarea>
                    <div class="date-container">
                        <label for="due-date">Due date:</label>
                        <input type="date" name="due-date" id="due-date" class="input">
                    </div>
                    <div class="add-file-and-post-container">
                        <label for="post_file">Attach a file  <i class="fas fa-paperclip"></i></label>
                        <input type="file" name="post_file" id="post_file" class="upload_files" multiple>
                        <input type="submit" class="btn" value="Assign">
                    </div>
                </form>
            </div>
        </main>
    {% elif role == "Student" %}
        <main class="main">
            <div class="task-container">
                <header>
                    <p class="title">Assignments</p>
                    <hr>
                </header>
                <div class="sort-by-section">
                    <p>Sort by</p>
                    <div class="select-dropdown">
                        <button 
                        class="dropdown-toggle"
                        >Latest <i class="fas fa-chevron-down drop-down-icon"></i></button>
                        <ul class="dropdown-menu">
                          <li class="latest-option">Latest (Default)</li>
                          <li class="due-option">Due</li>
                          <li class="oldest-option">Oldest</li>
                        </ul>
                      </div>
                </div>
                <div class="task-card-container-stud"  data-task="{{task_json}}">    
                </div>
            </div>
        </main>
    {% endif %}

    <!-- template for the teacher_task_page -->
    <template class="task-template">
            <div class="task-card teacher-task-card card-shadow">
                <div class="edit-delete-menu">
                    <i class="fas fa-ellipsis-v"></i>
                    <div class="update-drop-down">
                        <form 
                        action="{% url 'deleteTask' pk='__task.id__' %}" 
                        method="post" 
                        class="delete-form">
                            <!--'__task_id__' used in the template code are just a placeholder to indicate that it needs to be replaced with the actual task.id value in JavaScript.-->
                            {% csrf_token %}
                            <input type="hidden" name="form_identifier" value="delete_task_form">
                            <button type="submit" class="btn delete-post">Delete</button>
                        </form>
                    </div>
                </div>
                <!-- duplicate form... -->
                <!-- <form method="POST"  action="">
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="task_id_identifier">
                    <input type="hidden" name="task_id" value="{{ taskId }}"> 
                    <input type="hidden" name="task_id" class="task-id-input" value ="">
                    <a href="" class="task-card-link" onclick="event.preventDefault();">
                        <p class="title task-name"></p>
                    </a>
                </form> -->
                <form method="POST" class="assigned-task-modal-open-form">
                    <!--'__task_id__' used in the template code are just a placeholder to indicate that it needs to be replaced with the actual task.id value in JavaScript.-->
                    {% csrf_token %}
                    <input type="hidden" name="form_identifier" value="task_id_identifier">
                    <!-- <input type="hidden" name="task_id" value="{{ taskId }}"> -->
                    <input type="hidden" name="task_id" class="task-id-input-for-teach" value ="">
                    <a href="" class="task-card-link" onclick="event.preventDefault();" >
                        <p class="title task-name"></p>
                    </a>
                </form>
                <hr>
                <p class="description"></p>
                <div class="file-container"></div>
                <div class="deadline">Deadline:
                    <span class="due-date">20th June, 2023</span>
                </div>
            </div>
            <dialog class="modal" >
                    <div class="modal-nav">
                        <i class="fas fa-chevron-left close-modal"></i>
                    </div>
                    <div class="task-progress-container">
                        <div>
                            <h2 class="title">Tasks Submitted</h2>
                            <p class="number-of-progress num-of-task-submission">14</p>
                        </div>
                        <div>
                            <h2 class="title">Due</h2>
                            <p class="number-of-progress num-of-due">3</p>
                        </div>
                        <div>
                            <h2 class="title">Approved</h2>
                            <p class="number-of-progress num-of-approval">7</p>
                        </div>
                    </div>
                    <section class="submitted-assignment-list-container">
                        <h2 class="title">Submitted Assignments</h2>
                        <div class="assignment-lists-container">
                            <ul class="assignment-lists"></ul>
                        </div>
                    </section>
            </dialog>
    </template>
    <template class="task-submitted-list-template">
        <li>
            <div>
                <p class="student-name"></p>
                <p>Submitted on: <span class="date"></span></p>
                <div class="btns">
                    <a href="" target="_blank" class="view-task-submitted">View</a>
                    <button class="btn approve-btn">Approve</button>
                </div>
                <div class="edit-delete-menu view-approve-menu" style="position: relative;">
                    <i class="fas fa-ellipsis-v"></i>
                    <div class="drop-down update-drop-down" style="position: absolute">
                        <a href="" target="_blank" class="view-task-submitted-dropdown">View</a>
                        <button class="btn approve-btn" style="z-index: 111;">Approve</button>
                    </div>
                </div>
            </div>
            <hr>
        </li> 
    </template>
    
    <!-- template for the students_task_page -->
    <template class="task-template-stud">
        <div class="task-card student-task-card card-shadow">
            <form method="POST" class="submit-task-form">
                <!--'__task_id__' used in the template code are just a placeholder to indicate that it needs to be replaced with the actual task.id value in JavaScript.-->
                {% csrf_token %}
                <input type="hidden" name="form_identifier" value="task_id_identifier">
                <!-- <input type="hidden" name="task_id" value="{{ taskId }}"> -->
                <input type="hidden" name="task_id" class="task-id-input" value ="">
                <a href="" class="task-card-link" onclick="event.preventDefault();">
                    <p class="title task-name"></p>
                </a>
            </form>

            <!-- <a href="" class="task-card-link" onclick="event.preventDefault();">
                <p class="title task-name">Title 101</p>
            </a> -->

            <hr>
            <p class="description"></p>
            <div class="deadline">Deadline: 
                <span class="due-date"></span>
                <span class="task-status ">Due</span>
            </div>
            <dialog class="modal">
                {% include 'scholaractapp/popUp.html' %}
                <div class="modal-nav">
                    <i class="fas fa-chevron-left close-modal"></i>
                </div>
                <section class="task-main">
                    <div class="task-info-container">
                        <p class="title modal-task-title"></p>
                        <hr>
                        <p class="description modal-description"></p>
                        <div class="file-container"></div>
                    </div>
                    <div class="task-submission-form-container">
                        <form 
                        class="form-main task-submission-form"
                        method="post" 
                        action=""
                        enctype="multipart/form-data"
                        >
                        <!-- id="submitForm" above form's ID -->
                            {% csrf_token %}
                            <p class="title">Submit work</p>
                            <input type="hidden" name="form_identifier" value="submit_task_form">
                            <!-- <input type="hidden" id = "task_id" name="task_id" value=17> -->
                            <div class="task-form-info-container">
                                <label for="" class="btn post-file-btn">Upload a file</label>
                                <br>
                                <br>
                                <input type="file" name="post_file" 
                                id=""
                                class="file-input upload_files" 
                                hidden>
                                <!-- id="post_file" -->
                                <input type="submit" class="btn task-submit-btn btn-disabled" value="Submit"
                                >
                                <!-- id="task-submit-btn" -->
                            </div>
                        </form>
                    </div>
                </section>
        </dialog>
        </div>
    </template>
    <template class="file-template">
        <div class="file_img_container">
            <a href="#" class="file_link" target="_blank">
                <img src="" alt="file image" class="file_image">
                <div class="img-file-name"></div>
            </a>
        </div>
    </template>
    {% if role == "Student" %}  
    <script type="module">
        import { sortTasks } from "../../../static/script/task_students.js";

        function toggleDropdown() {
            const dropdownMenu = document.querySelector('.dropdown-menu');
            const dropdownIcon = document.querySelector('.drop-down-icon');

            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            dropdownIcon.style.transform = dropdownIcon.style.transform === '' || dropdownIcon.style.transform === 'none' ? 'rotate(-180deg)' : 'none';
        }
        
        function selectOption(option) {
            dropdownToggle.innerHTML = `${option} <i class="fas fa-chevron-down drop-down-icon"></i>`;
            toggleDropdown();
            const dropdownIcon = document.querySelector('.drop-down-icon');
            dropdownIcon.style.transform = '';
            
            sortTasks();    // everytime the option is selected the sortTasks() function is called...
        }
        
        const dropdownToggle = document.querySelector('.dropdown-toggle');
        dropdownToggle.addEventListener('click', toggleDropdown);
        const latestOption = document.querySelector('.latest-option');
        const dueOption = document.querySelector('.due-option');
        const oldestOption = document.querySelector('.oldest-option');

        latestOption.addEventListener('click', () => selectOption('Latest'));
        dueOption.addEventListener('click', () => selectOption('Due'));
        oldestOption.addEventListener('click', () => selectOption('Oldest'));
        // function sortTasks() {
        //     const option = dropdownToggle.textContent;
        //     console.log(option);
        // }
    </script>
    {% endif %}  
</body>
</html>