<footer>
    <div class="links">
        <div class="short_description">
        <img src="/static/images/logo.svg" width="60" alt="Scholaract Logo" />
        <p>
            Scholaract is the web-based learning management system. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, error.
        </p>
        </div>
        <div class="useful_links">
        <p class="sub_heading">Useful Links</p>
        <ul>
            <li><a href="{% url 'landingPage' %}">Home</a></li>
            <li><a href="{% url 'aboutUs' %}">About</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="faq">FAQ</a></li>
        </ul>
        </div>
        <div class="contact_links">
        <p class="sub_heading">Contact</p>
        <ul>
            <li>
                <p><i class="fas fa-home"></i>  Lalipur, Nepal</p>
            </li>
            <li>
                <p><i class="fas fa-envelope"></i>  info@example.com</p>
            </li>
            <li>
                <p><i class="fas fa-phone-alt"></i>  +997 9800000000</p>
            </li>
            <li>
                <p><i class="fas fa-phone-alt"></i>  +997 9800000011</p>
            </li>
        </ul>
        </div>
        <div class="social_media">
        <ul>
            <li>
            <a href="#" class="social-media-icon"><i class="fab fa-github"></i></a>
            </li>
            <li>
            <a href="#" class="social-media-icon"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
            <a href="#" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
            <a href="#" class="social-media-icon"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
        </div>
    </div>
    <div class="copyright_sec">Copyright © 2023 Scholaract. All rights reserved.</div>
</footer>