{% load static %}
<head>
    <!-- <link rel="stylesheet" href="{% static 'css/class/stream.css' %}"> more better way found -->
    
     <!-- script for the hamburger menu -->
     <script src="{% static 'script/hamburger.js' %}" defer></script>

     <!-- js for dropdown -->
    <script src="{% static 'script/dropdown.js' %}" defer></script>
</head>
<section class="nav-bar-container">
    <nav>
        <a href="{% url 'classes' %}">
            <img src="{% static 'images/logo.svg' %}" width="60" alt="Scholaract logo" class="logo">
        </a>
        <div class="nav-links links nav-sub-container">
            <ul>
                <li><a href="{% url 'class' pk=class.pk  %}">Stream</a></li>
                <li><a href="{% url 'task' pk=class.pk %}">Tasks</a></li>
                <li><a href="{% url 'people' pk=class.pk %}">People</a></li>
                <li><a href="{% url 'report' pk=class.pk %}">
                    {% if role == "Student" %}
                        Report
                    {% elif role == "Teacher" %}
                        Marks
                    {% endif %}    
                    </a></li>
                </li>
                    
            </ul>
        </div>
        <div class="nav-links">
            <div class="profile-img"></div>
            <i class="fas fa-caret-down drop-btn"></i>
            <div class="drop-down">
                <a href="#">Profile</a>
                <a href="{%url 'logout'%}">Logout</a>
            </div>
            <div class="hamburger-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</section>